@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Figtree", sans-serif;
    font-size: 62.5%;
    --cor0: hsl(0, 0%, 100%);
    --cor1: hsl(0, 0%, 42%);
    --cor2: hsl(0, 0%, 7%);
    --cor3: hsl(47, 88%, 63%);
}

.card {
    background-color: var(--cor0);
    max-width: 320px;
    width: 90%;
    padding: 16px;
    border: 1px solid var(--cor2);
    border-radius: 10px;
    box-shadow: 6px 6px 1px;
}

.card .thumb {
    width: 100%;
    border-radius: 10px;
}

.card .info {
    margin: 10px 0;
    font-size: 1.2rem;
}

.card .info .status {
    display: inline-block;
    background-color: var(--cor3);
    padding: 6px;
    margin: 5px 0;
    border-radius: 5px;
}

.card .info .publication_date {
    margin: 5px 0;
}

.card .text a {
    text-decoration: none;
    color: var(--cor2);
}

.card .text a:hover {
    color: var(--cor3);
}

.card .text p {
    font-size: 1.5rem;
    color: var(--cor1);
    margin: 10px 0;
}

.card .profile {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 6px;
}

.card .profile .avatar {
    width: 32px;
}

.card .profile .avatar + strong p {
    font-size: 1.2rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor3);
    height: 100dvh;
}